body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #292A3A; */
    font-family: Arial, Helvetica, sans-serif
}

.roboto {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  


.container {
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 80vh;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    background-color: #292A3A;
    box-shadow: 1px 0px 10px 1px #14110Fed;
    border-radius: 2em;
    margin: 3em;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 40%;
    max-width: 200px;
    height: 100%;
    border: 1px solid black;
    box-shadow: 1px 0px 10px 1px #14110Fed;
    background-color: #454660;
    border-radius: 2em 0 0 2em;
    gap: 1em;
    justify-content: center;
    align-items: center;

}

.right-section {
    display: flex;
    width: 80%;
    height: 100%;
    max-width: 300px;
    position: relative;
}

.setting-buttons {
    padding: .5em;
    width: 90%;
    background-color: #292A3A;
    border: none;
    color: rgb(187, 185, 187);
    letter-spacing: .1em;
    border-radius: .3em;
}   

.right-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
}

.right-section ul {
    list-style: none;
    line-height: 3;
}

.right-section li {
    color: rgb(187, 185, 187);
    letter-spacing: .05em;

}

h2 {
    color: rgb(187, 185, 187);
    letter-spacing: .1em;
    font-weight: 500;
    position: absolute;
    top: 10%;
    left: 10%;
    border-bottom: 2px solid;
}